@import url('https://fonts.cdnfonts.com/css/coolvetica-2');

@font-face {
    font-family: 'Made Tommy Bold';
    src: url('assets/MADE TOMMY BOLD.otf') format('opentype');
}

@font-face {
    font-family: 'Made Tommy ExtraBold';
    src: url('assets/MADE TOMMY EXTRABOLD.otf') format('opentype');
}

@font-face {
    font-family: 'Made Tommy Light';
    src: url('assets/MADE TOMMY LIGHT.otf') format('opentype');
}

@font-face {
    font-family: 'Made Tommy Medium';
    src: url('assets/MADE TOMMY MEDIUM.otf') format('opentype');
}

@font-face {
    font-family: 'Made Tommy Regular';
    src: url('assets/MADE TOMMY REGULAR.otf') format('opentype');
}

@font-face {
    font-family: 'Made Tommy Thin';
    src: url('assets/MADE TOMMY THIN.otf') format('opentype');
}

@font-face {
    font-family: 'Made Tommy Black';
    src: url('assets/MADETOMMY BLACK.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
}

.logoheader {
    width: 200px;
    padding-left: 75px;
}

.navbar {
    font-family: 'Made Tommy Regular', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-right: 75px;
}

.navbar-item {
    transition: transform .2s;
    margin-right: 40px;
}

.navbar-item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-item:hover {
    transform: scale(1.1);
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 550px;
    background: rgb(255,158,0);
    background: linear-gradient(329deg, rgba(255,158,0,1) 0%, rgba(156,94,0,1) 100%);
}

.banner img {
    margin: 150px;
    width: 430px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.sejaparceiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

.titulo {
    font-family: 'Made Tommy Regular';
    color: white;
}

.subtitulo {
    font-family: 'Made Tommy Thin';
    color: white;
    text-align: center;
}

.nossoproposito {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 550px;
    background: rgb(255, 255, 255);
    background: linear-gradient(329deg, rgb(255, 255, 255) 0%, rgb(212, 212, 212) 100%);
}

.nossoproposito img {
    border-radius: 10px;
    width: 430px;
    height: auto;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
    margin-right: 150px;
    
}

.proposito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 150px;
}

.titulo_proposito {
    font-family: 'Made Tommy Regular';
    color: black;
}

.subtitulo_proposito {
    font-family: 'Made Tommy Thin';
    color: rgb(0, 0, 0);
    text-align: center;
}





















 /* FOOTER E SCROLL */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: rgb(19, 19, 19);
    margin-top: auto;
}

.secoes {
    display: block;
    flex-direction: column;
    padding-left: 100px;
}

.titulosecoes {
    font-family: 'Made Tommy Regular';
    letter-spacing: 1px;
    color: white;
}

.itemsecoes {
    line-height: 32px;
    font-family: 'Made Tommy Thin';
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

.itemsecoes a {
    color: white;
    text-decoration: none;
}

.infoscontato {
    display: block;
    flex-direction: column;
    padding-left: 100px;
}

.titulocontato {
    font-family: 'Made Tommy Regular';
    letter-spacing: 1px;
    color: white;
}

.itemcontato {
    line-height: 32px;
    font-family: 'Made Tommy Thin';
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

.itemcontato a {
    color: white;
    text-decoration: none;
}

.assinatura {
    font-family: 'Made Tommy Thin';
    color: white;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-height: 60px;
}

/* Chrome, Safari */
::-webkit-scrollbar {
    width: 5px; /* largura da barra de rolagem */
    background-color: rgb(255, 187, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); /* cor da barra de rolagem */
    border-radius: 4px; /* borda arredondada */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* cor da pista */
}

/* Firefox */
body {
    scrollbar-width: thin; /* largura da barra de rolagem */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* cor da barra de rolagem e pista */
}
